<% @post.each do |post| %>
<ul id='moving_posts_main'><span class="code-comment">
<div id='post_div_1'>
<% if post.created_at + 2.days >= Time.now %>
<li><h4>You have until <%= post.created_at.to_date + 2.days %> at <%= post.created_at.to_time + 2.days %> EST to bid!</h4></li>
<li><h4>Moving from:</h4></li>
	<li><%= post.fromstreet %></li>
	<li><%= post.fromcity %></li>
	<li><%= post.fromstate %></li>
	<li><%= post.fromzip %></li>
<li><h4>Moving to:</h4></li>
	<li><%= post.tostreet %></li>
	<li><%= post.tocity %></li>
	<li><%= post.tostate %></li>
	<li><%= post.tozip %></li>
</div>
<div id='post_div_2'>
	<li># of Bedrooms: <%= post.bedrooms %></li>
	<li>Walkup: <% if post.walkup == true %>
				<%= 'Yes' %>
				<% else %>
				<%= 'No' %>
				<% end %></li>
	<li>Floor Number: <%= post.floor %></li>
	<li>Moving Date: <%= post.date %></li>
	<li>Additional Notes? <%= post.notes %></li>
</div>
	</span>
	</ul>
	<ul>
	<li><%= link_to "Click here to see more about this move", "/posts/#{post.id}"  %></li>
	<li><%= link_to "Place a bid", "/posts/#{post.id}/new_bid"  %></li>
	<li><%= link_to "View bids", "/posts/#{post.id}/bids" %></li>  
</ul>
<% end %>
<% end %>